body {
    background-color: #ECEEF1;
}

html {
    font-size: 12px;
}

.font{
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    overflow: hidden;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.accountInfo {
    margin-right: 10px;
}

.accountInfo .q {
    padding-bottom: 4px;
}

.accountInfo .u {
    padding-top: 4px;
}

.signin-button {
    padding: 0 20px;
    font-size: 14px;
    height: 34px;
    color: white;
    background-color: #0077C5;
    border: 1px solid black;
    border-radius: 7%;
}

.signin-button .sign-in {
    width: 1em;
    margin: 0 4px 0 0;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: auto;
    text-align: center;
}

.intuit img {
    width: 160px;
    margin: 20px;
}

.icons{
    margin-bottom: 20px;
}

.icons ul li {
    display: inline;
    vertical-align: middle;
    list-style-type: none;
}

.icons ul li img {
    width: 20px;
}

.icons ul li {
    font-size: 1.5rem;   
}

.icons ul {
    
}

form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    /* border: 1px 1px 0 1px;
    border: 1px solid black; */
}

.contain{
    border: 1px solid #C1C5C8;
}

form h6 {
   font-size: 2rem; 
}

form h1 {
    font-size: 1.166rem;
}

.label {
    display: block;
}

.label-grp{
    text-align: start;
}

/* .label-grp {
    width: 100%;
} */

input {
    width: 100%;
}

form {
    /* border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000; */
}


form button{
    display: block;
    width: 100%;
}

.acct{
    padding-top: 20px;
    font-size: 1.166rem;
    padding-bottom: 20px;
}

.acct a {
    font-size: 1rem;
}

.label-grp label{
    padding-bottom: 10px;
    font-size: 1.166rem;
}

.label-grp input{
    height: 34px;
}

.msg{
    width: 100%;
    height: 20px;
}

.label-grp p{
    padding: 5px 0px;
    font-size: 0.85rem;
}

.label-grp label[for='password']{
    padding-top: 30px;
}

.btn{
    padding: 6px 1rem;
    height: 43px;
    background-color: #0077C5 ;
    margin-bottom: 30px;
    border: none;
    border-radius: 3%;
    color: white;
    font-size: 1.333rem;
}

.create{
    font-style: italic;
    padding-bottom: 15px;
}

.create p a {
    word-spacing: 10%;
}

.one{
    font-size: 0.85rem;
    padding: 20px;
}
footer {
    text-align: center;
}
.footer-links a {
    margin-right: 10px;
}
main {
    padding-bottom: 20px;
}



























































































































}

