body {
    background-color: transparent;
}

html {
    font-size: 12px;
}

.font{
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    overflow: hidden;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.accountInfo {
    margin-right: 10px;
}

.accountInfo .q {
    padding-bottom: 4px;
}

.accountInfo .u {
    padding-top: 4px;
}

.signin-button {
    padding: 0 20px;
    font-size: 14px;
    height: 34px;
    color: white;
    background-color: #0077C5;
    border: 1px solid black;
    border-radius: 7%;
}

.signin-button .sign-in {
    width: 1em;
    margin: 0 4px 0 0;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.intuit img {
    width: 160px;
    margin: 20px;
}

.icons ul li {
    display: inline-block;
}

.icons ul li img {
    width: 33px;
}
.icons ul li text {
    margin: auto;
}
































































































































}

